[train]
trainFile = resources/coqa-train-v1.0.json
devFile = resources/coqa-dev-v1.0.json
testFile = resources/coqa-dev-v1.0.json
fileKeys = [source, story, questions, answers]
maxSeqLength = 384
maxQueryLength = 64
maxAnsLength = 30
documentStride = 128
batchSize = 2
learningRate = 3e-3
beta1 = 0.9
beta2 = 0.999
l2WeightDecay = 0.01
useGPU = True
saveModel = True
historyLength = 2
savePath = resources\GPUmodel.pth
saveModelFreq = 5